# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
bin/
include/
lib/

# Environment variables (Secrets)
.env
.venv
*.env
.env.keys
.env.local
.env.*.local

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# IDE-specific (uncomment if you use these)
#.vscode/
#.idea/
